// app.scss
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Dropzone
@import '~dropzone/dist/min/dropzone.min.css';
.dropzone {
    margin-bottom: 20px;
    min-height: auto;
}